@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5f7;
}

.dark-mode::-webkit-scrollbar-thumb {
  background-color: #2b2b33;
}


::-webkit-scrollbar-track {
  background-color: transparent;

}

body {
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #f4f7fd;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o modo escuro */
  body.dark-mode {
    background-color: #3a3b41;
    color: #f0f0f0;
  }
  
  /* Estilos para o switch de tema */
  #theme-switch {
    margin: 10px;
  }
  
  #theme-switch label {
    margin-left: 5px;
    cursor: pointer;
  }

  /* Estilização do switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Esconder o input padrão do switch */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Estilização da alça do switch */
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: #e5e5f7;
    transition: 0.4s;
  }
  
  /* Estilização da alça do switch no modo escuro */
  .dark-mode .slider {
    background-color: #888;
  }
  
  /* Estilização do indicador do switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s;
  }
  
  /* Estilização do indicador do switch no modo escuro */
  .dark-mode .slider:before {
    background-color: #333;
  }
  
  /* Estilização do switch quando ativado */
  input:checked+.slider {
    background-color: #2196F3;
  }
  
  /* Estilização do indicador do switch quando ativado */
  input:checked+.slider:before {
    transform: translateX(26px);
  }
  
  /* ... Outros estilos ... */
  #start-container{
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  #game-container {

    margin-top: 10px;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .dark-mode #start-container,
.dark-mode #game-container{
    /* Estilos específicos para o modo escuro */
    /* Por exemplo: */
    background-color: #2b2b33;
  }
  .dark-mode button{
    background-color: #3a3b41;
    color: #ffffff;
  }

  .dark-mode #choices button{
    border: 2px solid #56565e;
  }

  .dark-mode #choices button:hover{
    background-color: #56565e;
  }
  #choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 8px;
  }

  #choices button{
    border: 2px solid #e5e5f7;
    border-radius: 0;
  }

  #choices button:last-child{
    border-radius: 0 0 5px 5px;
  }

  /* Estilos para os botões do meio */
  #choices button:not(:first-child):not(:last-child) {
    border-bottom: none;

  }

  #choices button:first-child{
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }
    
  #choices button:hover{
    background-color: #e5e5f7;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f4f7fd;
    border: 0;
    border-radius: 6px;
    font-family: 'Rubik', sans-serif;
  }

  #selectedChoice {
    font-size: 1rem;
    color:#aeafc2; /* Defina a cor desejada para a escolha selecionada */
    font-style: italic;
    text-align: left;
    text-indent: 20px; /* Mover a primeira linha 20 pixels para a direita */

  }

  h1{
    text-align: center;
  }

  .menuzin{
    display: none; /* Inicia escondido */
  }

  #story{
    text-align: left;
  }

  p{
    text-indent: 20px; /* Mover a primeira linha 20 pixels para a direita */
  }

  #languageBtn{
    background-color: #fff;
    height: 50px;
  }

  .dark-mode #languageBtn{
    background-color: #2b2b33;
  }

  .dark-mode #showMenuBtn{
    background-color: #2b2b33;
  }

  #showMenuBtn{
    background-color: white;
    margin-right: 10px;
    display: block;
  }

  .tudomenu{
    display: flex;
    height: 50px;
    font-size: 1rem;

  }

  .tudojogo {
    max-width: 900px;
    margin: 0 auto; 
    padding: 10px; 
}

@media screen and (max-width: 600px) {
  html {
    font-size: 250%;  /* Aumenta o tamanho da fonte em 20% quando a largura da tela é de 480 pixels ou mais. */
  }

  button{
    padding: 4%;
  }

  #game-container, #start-container{
    padding: 6%;
  }
  #languageBtn{
    height: 150px;
    width: 150px;
  }
  .tudomenu{
    height: 150px;
  }
  /* Estilização da alça do switch */
  .slider, .switch input, .switch{
    transform: scale(1.8);

  }
  .switch{
    margin-top: 50px;
    left: 70px;
  }
}
